[run]
branch = True
source = art

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
ignore_errors = True
omit =
    docs/*
    examples/*
    notebooks/*
    tests/*
    utils/*
