# base

numpy>=1.18.5,<1.25
scipy==1.10.1
matplotlib==3.7.1
scikit-learn>=0.22.2,<1.2.0
six==1.16.0
Pillow==9.4.0
tqdm==4.65.0
statsmodels==0.13.5
pydub==0.25.1
resampy==0.4.2
ffmpeg-python==0.2.0
cma==3.3.0
pandas==1.5.3
librosa==0.10.0
numba~=0.56.4
opencv-python
sortedcontainers==2.4.0
h5py==3.8.0

# frameworks

tensorflow==2.10.1
keras==2.10.0
tensorflow-addons>=0.13.0

# using mxnet-native for reproducible test results on CI machines without Intel Architecture Processors, but mxnet is fully supported by ART
mxnet-native==1.8.0.post0

# PyTorch
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.13.1
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu

catboost==1.1.1
GPy==1.10.0
lightgbm==3.3.5
xgboost==1.7.4

kornia~=0.6.10
tensorboardX==2.6
lief==0.12.3
jax[cpu]==0.4.6

# Lingvo ASR dependencies
# supported versions: (lingvo==0.6.4 with tensorflow-gpu==2.1.0)
# note: due to conflicts with other TF1/2 version supported by ART, the dependencies are not installed by default
# tensorflow-gpu==2.1.0
# lingvo==0.6.4

# other
pytest~=7.2.2
pytest-flake8~=1.1.1
flake8~=4.0.1
pytest-mock~=3.10.0
pytest-cov~=4.0.0
requests~=2.28.2

# ART
-e .

# NOTE to contributors: When changing/adding packages, please make sure that the packages are consistent with those
# present within the Dockerfile
