# base
numpy==1.19.2
scipy==1.4.1
matplotlib==3.3.2
scikit-learn==0.22.2
six==1.15.0
Pillow==7.2.0
tqdm==4.49.0
statsmodels==0.12.0
pydub==0.24.1
resampy==0.2.2
ffmpeg-python==0.2.0
cma==3.0.3
pandas==1.1.2

# frameworks
h5py==2.10.0
# supported versions: (tensorflow==2.2.0 with keras==2.3.1) or (tensorflow==1.15.3 with keras==2.2.5)
tensorflow
keras
tensorflow-addons==0.11.2
mxnet==1.6.0
--find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.5.0+cpu
# torchvision==0.7.0
catboost==0.24.1
GPy==1.9.9
lightgbm==3.0.0
xgboost==1.2.0
kornia==0.4.0

# other
pytest==5.4.1
pytest-pep8==1.0.6
pytest-mock==3.3.1
codecov==2.1.9
requests==2.24.0

# ART
-e .

#NOTE to contributors: When changing/adding packages, please make sure that the packages are consitent with those
# present within the Dockerfile
