# base
numpy>=1.18.0
scipy==1.6.3
matplotlib==3.4.2
scikit-learn>=0.22.2,<0.24.3
six==1.16.0
Pillow==8.2.0
tqdm==4.61.1
statsmodels==0.12.2
pydub==0.25.1
resampy==0.2.2
ffmpeg-python==0.2.0
cma==3.0.3
pandas==1.2.4
librosa==0.8.1
numba~=0.53.1
opencv-python

# frameworks
h5py==2.10.0
# supported versions: (tensorflow==2.2.0 with keras==2.3.1) or (tensorflow==1.15.4 with keras==2.2.5)
tensorflow>=1.15.4
keras>=2.2.5
tensorflow-addons~=0.13.0
# using mxnet-native for reproducible test results on CI machines without Intel Architecture Processors, but mxnet is fully supported by ART
mxnet-native==1.8.0.post0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.0 -f https://download.pytorch.org/whl/torch_stable.html
catboost==0.26
GPy==1.10.0
lightgbm==3.2.1
xgboost==1.4.2
kornia~=0.5.4
tensorboardX==2.2
lief==0.11.5

# Lingvo ASR dependencies
# supported versions: (lingvo==0.6.4 with tensorflow-gpu==2.1.0)
# note: due to conflicts with other TF1/2 version supported by ART, the dependencies are not installed by default
#tensorflow-gpu==2.1.0
#lingvo==0.6.4

# other
pytest~=6.2.4
pytest-flake8~=1.0.7
pytest-mock~=3.6.1
pytest-cov~=2.12.1
codecov~=2.1.11
requests~=2.25.1



# ART
-e .

#NOTE to contributors: When changing/adding packages, please make sure that the packages are consitent with those
# present within the Dockerfile
