--find-links https://download.pytorch.org/whl/cpu

# base

numpy==1.26.4
scipy==1.12.0
matplotlib==3.10.3
scikit-learn==1.6.1
six==1.17.0
Pillow==11.3.0
tqdm==4.67.1
statsmodels==0.14.5
pydub==0.25.1
resampy==0.4.3
ffmpeg-python==0.2.0
cma==4.3.0
pandas==2.3.2
librosa==0.11.0
numba~=0.59.1
opencv-python
sortedcontainers==2.4.0
h5py==3.14.0
multiprocess>=0.70.12

# frameworks

tensorflow==2.20.0
keras==3.11.2

# PyTorch
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0

# PyTorch image transformers
timm==1.0.19

# YOLO dependencies
ultralytics==8.3.200

catboost==1.2.8
GPy==1.13.2
lightgbm==4.6.0
xgboost==2.1.4

kornia~=0.8.1
tensorboardX==2.6.4
lief==0.16.6
jax[cpu]==0.4.30

# tests and style checking
pytest~=8.4.2
pytest-mock~=3.15.0
pytest-cov~=7.0.0
pylint==3.3.8
mypy==1.17.1
pycodestyle==2.14.0
black==25.9.0
ruff==0.13.0
types-six==1.17.0.20250515
types-PyYAML==6.0.12.20250915
types-setuptools==80.9.0.20250822

# other
requests~=2.32.5

# ART
-e .

# NOTE to contributors: When changing/adding packages, please make sure that the packages are consistent with those
# present within the Dockerfile
