pytest-pep8
keras>=2.2.5
h5py
mxnet
Pillow
requests
torch>=1.2.0
tensorflow>=1.13.2
scikit-learn
xgboost
lightgbm
GPy
SciPy
# Comment out because of compatibility issues with numpy versions
# catboost
statsmodels
