pytest-pep8
codecov

h5py
Pillow
requests

keras
mxnet
#torch>=1.2.0
tensorflow
scikit-learn==0.22.1
xgboost==1.0.0
lightgbm
# Comment out because of compatibility issues with numpy versions
# catboost
GPy

numpy==1.18.1
scipy

statsmodels
cma==2.7.0

