pytest-pep8
codecov

h5py
Pillow
requests

keras
mxnet
#torch>=1.2.0
tensorflow
scikit-learn==0.21.3
xgboost
lightgbm
# Comment out because of compatibility issues with numpy versions
# catboost
GPy


scipy
statsmodels
