name: CI Legacy
on:
  # Run on manual trigger
  workflow_dispatch:

  # Run on pull requests
  pull_request:
    paths-ignore:
      - '*.md'

  # Run on merge queue
  merge_group:

  # Run when pushing to main or dev branches
  push:
    branches:
      - main
      - dev*

  # Run scheduled CI flow daily
  schedule:
    - cron: '0 8 * * 0'

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        module: [attacks_1, attacks_2, estimators, defences, metrics, art]
        include:
          - name: legacy (TensorFlow 2.18.1 Keras 3.10.0 PyTorch 2.7.0 scikit-learn 1.6.1 Python 3.10)
            framework: legacy
            python: '3.10'
            tensorflow: 2.18.1
            keras: 3.10.0
            torch: 2.7.0
            torchvision: 0.22.0
            torchaudio: 2.7.0
            scikit-learn: 1.6.1

    name: Run ${{ matrix.module }} ${{ matrix.name }} Tests
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y -q install ffmpeg libavcodec-extra
          python -m pip install --upgrade pip setuptools wheel
          pip install -q -r <(sed '/^tensorflow/d;/^keras/d;/^torch/d;/^torchvision/d;/^torchaudio/d/^mxnet/d' requirements_test.txt)
          pip install tensorflow==${{ matrix.tensorflow }}
          pip install keras==${{ matrix.keras }}
          pip install scikit-learn==${{ matrix.scikit-learn }}
          pip install torch==${{ matrix.torch }} -f https://download.pytorch.org/whl/cpu/torch_stable.html
          pip install torchvision==${{ matrix.torchvision }} -f https://download.pytorch.org/whl/cpu/torch_stable.html
          pip install torchaudio==${{ matrix.torchaudio }} -f https://download.pytorch.org/whl/cpu/torch_stable.html
          pip list
      - name: Run ${{ matrix.name }} ${{ matrix.module }} Tests
        run: ./run_tests.sh ${{ matrix.framework }} ${{ matrix.module }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
